In [1]:
import pandas as pd

In [2]:
df_afla = pd.read_csv('../data/bbc/afla/afla.csv')

In [7]:
df_afla.head()

,Title,Content
0,Plasmolifting: jinsi wanawake walivyoambukizwa...,"Chanzo cha picha, Getty Images\nHabari za hivi..."
1,"Je, ni vyakula gani husababisha na kupunguza k...","Chanzo cha picha, Getty Images\nKiungulia amba..."
2,Daktari alidhani sifanyi mapenzi kwa sababu mi...,"Kat Watkins, mwanamke anayetumia kiti cha magu..."
3,Kipi hutokea miilini mwetu tunapoumizwa na map...,"Chanzo cha picha, GETTTY IMAGES\nMaumivu ya mo..."
4,"Afya: je, tunakula tu tunapohisi njaa? - bbc n...","Chanzo cha picha, Getty Images\nOnur Erim\nBBC..."

In [8]:
print(len(df_afla))

930

In [3]:
df_burudani = pd.read_csv('../data/bbc/burudani/burudani.csv')

In [10]:
df_burudani.head()

,Title,Content
0,Orodha kamili ya washindi na walioteuliwa kwen...,"Chanzo cha picha, Getty Images\nWasanii bora w..."
1,Oscars academy awards: mambo 11 unayohitaji ku...,"Chanzo cha picha, Getty Images\nKumekuwa na ha..."
2,Ma-dj wa kike wa iran wanaotumbuiza na kuvunja...,Ngoma za watu wa jinsia tofauti ni kinyume cha...
3,Nguvu ya familia ilivyompa nguvu mr. blue kur...,Mwanamuziki wa kizazi kipya ‘Bongo flava’ Herr...
4,Bob marley: mambo manne ambayo hukuyajua kumhu...,"Chanzo cha picha, Getty Images\nFilamu mpya, O..."

In [11]:
print(len(df_burudani))

142

In [4]:
df_makala = pd.read_csv('../data/bbc/makala/Makala.csv')

In [14]:
df_makala.head()

,Title,Content
0,Jinsi china inavyoisaidia iran kukabiliana na ...,"Chanzo cha picha, ATTA KENARE / AFP via Getty ..."
1,Kwanini wanawake china hujiunga na vikundi vya...,"Chanzo cha picha, Handout\n""Kila mwaka uishapo..."
2,Mambo matano kuhusu uchumi wa china - bbc news...,"Chanzo cha picha, EPA\nTangu China ilipoanza k..."
3,Yajue masuala saba yaliyomsumbua mzee mwinyi -...,"Chanzo cha picha, Getty Images\nAliyekuwa Rais..."
4,Ukraine: mambo matano yatakayoathiri vita 2024...,"Chanzo cha picha, AFP\nBaada ya kutawala vichw..."

In [16]:
print(len(df_makala))

36

In [5]:
df_michezo = pd.read_csv('../data/bbc/michezo/michezo.csv')

In [21]:
df_michezo.head()

,Title,Content
0,Ligi kuu ya england: mohamed salah miongoni mw...,"Chanzo cha picha, Getty Images\nPazia limeshus..."
1,Tetesi za soka ulaya jumanne 22.05.2024 - bbc ...,"Chanzo cha picha, Getty Images\nManchester Uni..."
2,Tetesi za soka ulaya jumanne 21.05.2024 - bbc ...,"Chanzo cha picha, Getty Images\nMeneja wa Burn..."
3,Tetesi za soka ulaya jumatatu 20.05.2024: sanc...,"Chanzo cha picha, Getty Images\nManchester Uni..."
4,Tetesi za soka ulaya jumapili 19.05.2024:galla...,"Chanzo cha picha, Getty Images\nAston Villa wa..."

In [22]:
print(len(df_michezo))

931

In [7]:
# Load the CSV files into DataFrames
df_michezo = pd.read_csv('../data/bbc/michezo/michezo.csv')
df_makala = pd.read_csv('../data/bbc/makala/Makala.csv')
df_afla = pd.read_csv('../data/bbc/afla/afla.csv')
df_burudani = pd.read_csv('../data/bbc/burudani/burudani.csv')
voa_articles = pd.read_csv('../data//voa_articles.csv')
tuko_articles = pd.read_csv('../data/tuko_articles.csv')


# Concatenate the DataFrames
merged_df = pd.concat([df_michezo, df_makala,df_afla,df_burudani,voa_articles,tuko_articles], ignore_index=True)

# save the merged DataFrame to a new CSV file
merged_df.to_csv('../data/merged_data/merged.csv', index=False)

print("Datasets merged successfully!")

Datasets merged successfully!

In [8]:
print(len(merged_df))

2203

In [12]:
#display the first 2 raws of the dataframe
print(merged_df.head(2))

                                               Title  \
0  Ligi kuu ya england: mohamed salah miongoni mw...
1  Tetesi za soka ulaya jumanne 22.05.2024 - bbc ...

                                             Content
0  Chanzo cha picha, Getty Images\nPazia limeshus...
1  Chanzo cha picha, Getty Images\nManchester Uni...

In [14]:
# check for missing values
missing_values = merged_df.isnull().sum()
print(missing_values)

Title       0
Content    21
dtype: int64

In [16]:

# Display the initial shape of the DataFrame
print("Initial shape:", merged_df.shape)

Initial shape: (2203, 2)

In [17]:
# drop missing values
df_cleaned = merged_df.dropna()

In [18]:
# Display the shape of the DataFrame after dropping missing values
print("Shape after dropping missing values:", df_cleaned.shape)

Shape after dropping missing values: (2182, 2)

In [19]:
df_cleaned.to_csv('../data/merged_data/cleaned-df.csv', index = False)

In [20]:
# Display the first few rows of the cleaned DataFrame
print(df_cleaned.head())

                                               Title  \
0  Ligi kuu ya england: mohamed salah miongoni mw...
1  Tetesi za soka ulaya jumanne 22.05.2024 - bbc ...
2  Tetesi za soka ulaya jumanne 21.05.2024 - bbc ...
3  Tetesi za soka ulaya jumatatu 20.05.2024: sanc...
4  Tetesi za soka ulaya jumapili 19.05.2024:galla...

                                             Content
0  Chanzo cha picha, Getty Images\nPazia limeshus...
1  Chanzo cha picha, Getty Images\nManchester Uni...
2  Chanzo cha picha, Getty Images\nMeneja wa Burn...
3  Chanzo cha picha, Getty Images\nManchester Uni...
4  Chanzo cha picha, Getty Images\nAston Villa wa...